//page-footer
.page-footer{
  background: #c3c3c3;

  &__wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
  }

  &__links-list{
    float: left;
    margin-left: 10px;

    @media (min-width: 641px) {
      column-count: 2;
    }
  }

  &__link{
    display: block;

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6){
      display: none;
    }

    @media (min-width: 641px) {
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6){
        display: block;
      }
    }
  }

  &__subscribe{
    float: right;
    margin-right: 10px;

    label[for="page-footer__subscribe-item"]{
      display: none;
      margin-bottom: 10px;

      @media (min-width: 641px) {
        display: block;
      }
    }

    &-mail{
      display: block;
      margin-bottom: 10px;
    }

    &-submit{
      display: block;
    }
  }
}